[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Planesmuestra"]
	path = Planesmuestra
	url = https://github.com/cran/Planesmuestra
[submodule "XRSCC"]
	path = XRSCC
	url = https://github.com/cran/XRSCC
